.App {
  text-align: center;
}

.location-search {
  width: 300px;
  height: 40px;
  border-radius: 20px;
  text-align: center;
  outline-style: none;
  background-color: #415991;
  color: white;
  border: none;
  margin: 10px 0px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #f4f4f4;
  opacity: 1; /* Firefox */
}

.current-weather{
  margin: 10px 0px;
}

.current-weather .row {
  height: 250px;
  background-color: #192a53;
  border-radius: 20px;
  color: white;
  padding: 10px 0px;
}

.row p {
  margin-bottom: 0px;
  vertical-align: center;

}

.current-temperature {
  font: 70px Arial, sans-serif;
  font-weight: bold;
}

.description {
  text-transform: capitalize;
}

.hourly-weather .row{
  height: 100px;
}

.hourly-temperature {
  font: 45px Arial, sans-serif;
  font-weight: bold;
}

.interval-description {
  text-align: left;
  text-transform: capitalize;
  font: 20px Arial, sans-serif;
}

.hourly-description img{
  margin-right: 10px;
}

#forecast {
  text-transform: capitalize;
}

.daily-temperature {
  font: 45px Arial, sans-serif;
  font-weight: bold;
  vertical-align: middle;
  display: inline-block;
}

.low {
  display: inline-block;
  font-weight: normal;
  font: 35px Arial, sans-serif;
  vertical-align: middle;
}

.date {
  font: 25px Arial, sans-serif;
}
